<br>
<div class="container col-md-7 offset-md-2">
  <h1 class="display-4">Guild War 2 Utilities</h1>
  <h5>This is a collection of various utilities,intended to make the daily farm easier to manage.</h5>
  <hr>
  <div class='container'>
    <h4>TP Profit Calculation</h4>
    Tool used to calculate the profit/lose of a transaction after adjusting to the mats cost, list and selling fee.
  </div>
  <br>
  <div class='container'>
    <h4>Istan Shipment Calculation</h4>
    Tool used to calculate the profit/lose of a shipment in Domain of Istan, adjusting to the shipment cost, list and selling fee.
  </div>

</div>
